*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
gemfiles/*.lock
gemfiles/.bundle
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/examples.txt
spec/internal/log
spec/internal/tmp
spec/reports
test/tmp
test/version_tmp
tmp
.DS_STORE
