= select_tree_check_box "name", "value", true, {name: "data-select-tree-name"}

= select_tree_check_box "name", "value", false, {name: "data-select-tree-name"}

= select_tree_check_box name: "name"

-# I wasn't able to test the three parameters case: select_tree_check_box "name", "value", true