= select_tree_check_box "name", "value", true, {name: "data-select-tree-name"}

= select_tree_check_box "name", "value", false, {name: "data-select-tree-name"}

= select_tree_check_box name: "name"

-# non mi funziona il caso con tre parametri= select_tree_check_box "name", "value", true